.DS_Store

*.idea/

# Ignore all target
**/target/*

# Spark Scriots
Spark-scripts/metastore_db/*
Spark-scripts/src/main/main.iml

# Spark SQL
spark-sql/src/main/main.iml
spark-sql/output
spark-sql/metastore_db/*
spark-sql/spark-warehouse/*
spark-sql/derby.log
spark-sql/src/main/resources/warehouse
